:root {
    --branco-principal: #f0e7e7;
    --cinza-secundario: #918f8f;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
}

body {
     background-color: var(--cor-de-fundo);
}


* {
   margin: 0;
   padding: 0;
}

.principal {
      background-image: url("img/Background.png");
}